<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>message_board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.shinowit.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoRegServlet</display-name>
    <servlet-name>UserInfoRegServlet</servlet-name>
    <servlet-class>com.shinowit.messageboard.web.UserInfoRegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoRegServlet</servlet-name>
    <url-pattern>/UserInfoRegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckLoginServlet</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>com.shinowit.messageboard.web.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostMessageServlet</display-name>
    <servlet-name>PostMessageServlet</servlet-name>
    <servlet-class>com.shinowit.messageboard.web.PostMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMessageServlet</servlet-name>
    <url-pattern>/PostMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyMessagServlet</display-name>
    <servlet-name>ReplyMessagServlet</servlet-name>
    <servlet-class>com.shinowit.messageboard.web.ReplyMessagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyMessagServlet</servlet-name>
    <url-pattern>/ReplyMessagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMessageServlet</display-name>
    <servlet-name>EditMessageServlet</servlet-name>
    <servlet-class>com.shinowit.messageboard.web.EditMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMessageServlet</servlet-name>
    <url-pattern>/EditMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReplyMessageServlet</display-name>
    <servlet-name>DeleteReplyMessageServlet</servlet-name>
    <servlet-class>com.shinowit.messageboard.web.DeleteReplyMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReplyMessageServlet</servlet-name>
    <url-pattern>/DeleteReplyMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePostMessageServlet</display-name>
    <servlet-name>DeletePostMessageServlet</servlet-name>
    <servlet-class>com.shinowit.messageboard.web.DeletePostMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostMessageServlet</servlet-name>
    <url-pattern>/DeletePostMessageServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.shinowit.messageboard.web.SessionListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.shinowit.messageboard.web.SessionListeners</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>CheckAdminLoginServlet</display-name>
    <servlet-name>CheckAdminLoginServlet</servlet-name>
    <servlet-class>com.shinowit.messageboard.web.CheckAdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckAdminLoginServlet</servlet-name>
    <url-pattern>/CheckAdminLoginServlet</url-pattern>
  </servlet-mapping>
</web-app>